aspell-python-py3
beautifulsoup4
certifi
chardet
ftfy
fuzzywuzzy[speedup]
geopy
google-api-python-client
google-cloud-translate
idna
lxml
pycryptodome
pygeoip
pytz
requests
tweepy
Unidecode
urllib3
wolframalpha
