aspell-python-py3
beautifulsoup4
certifi
chardet
ftfy
fuzzywuzzy[speedup]
geopy
google-api-python-client
google-cloud-translate
googlemaps
idna
lxml
mwclient
pycryptodome
pygeoip
pytz
requests
tweepy
Unidecode
urllib3
wolframalpha
dnspython
